/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
img{
    width: 100%;
    display: block;
}

body{
    font-family: 'Montserrat', sans-serif;;
    color: darkgray;
    font-size: 13px;

}

h2,
h3,
h4{
    color: white;
}

ul{
    list-style-type: none;
}

.body-wrapper{
    width: 100%;
    height: 100vh;
    
}

/* MAIN */

.main-menu{
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
   
}

.nav-menu{
    width: 250px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
  
}

.main-contents{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding-top: 90px;

    /* test */
    background-color: indigo;
    
}

                            /* nav bar  section*/


.logo{
    width: 60%;
    margin-bottom: 20px;
    /* test */
    background-color: darkgreen;
}
                            

/* home-search-library-section */



.actions{
    margin-bottom: 20px;
    /* test */
    background-color: hotpink;
}


.nav-icons{
    width: 12%;
    height: auto;
    min-width: 20px;
    padding-right: 5px;
   
}

.action-list li{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
}
/*  END home-search-library-section */

/* Playlist section */

.playlist{
    flex-grow: 1;
    overflow: hidden;
    
    /* test */
    background-color: darkslategray;
}



.playlist ul{
    overflow-y: auto;
    height: 80%;
}

.playlist ul li{
    padding-bottom: 15px;
}

.add-icon{
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}
.plus-icon{
    width: 40px;
    height:40px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}

/* end playlist section */

/* bottom Nav section */

.wrap{
    display: flex;
   
}

.wrap.download-wrap::after{
    display: block;
    content: "";
    height: 1px;
    background-color:lightgray;
    width: calc(100% - 40px);
    margin: auto;

}

.bottom-contents{
   
    /* test */
    background-color: rgb(104, 96, 31);
}

.download{
    width: 20px;
    height: auto;
}


.user.nav-icons{
    display: flex;
}

.underline{
    
}

/* end bottom nav section */


                                /* end nav bar */

/* END MAIN */

/* FOOTER */

.play-bar{
    width: 100%;
    height: 90px;
    /* test */
    background-color: bisque;
}
/* END FOOTER */

/* FIXED BAR */

.fixed-bar{
    height: 90px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
}


/* END FIXED BAR */
