/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */


body{
    font-family: 'Montserrat', sans-serif;;
    color: darkgray;
    font-size: 13px;
    background-color: black;

}

h2,
h3,
h4{
    color: white;
}

h2{
    font-size: 20px;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: darkgray;
}

a:hover{
    color: white;
}

.body-wrapper{
    width: 100%;
    height: 100vh;
    
}

/* MAIN */


                        /* main contents */
.main-menu{
    width: 100%;
    height: calc(100% - 90px);
    overflow: hidden;
   
}

.nav-menu{
    width: 250px;
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column;
}


.main-contents{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    padding:90px 18px 10px 18px;
    overflow-y: auto;

}

.played-title{
    margin: 20px 0;
}

.recently-played{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}

.cover-contents{
    width: calc(100% / 6);
    padding: 10px;

    /* test */
    position: relative;

}
.image{
    width: 100%;
    height: auto;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.player-hide{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 38%;
    
    
}

.cover-contents:hover .image{
    opacity: 0.3;
}

.cover-contents:hover .player-hide{
    opacity: 1;
}


.cover-contents img{ 
     width: 100%; 
} 

.album-titles{
    width:100%;
    text-align: center;
    padding: 15px 10px;
  
}

.album-titles h3{
    padding-bottom: 10px;
}

.johndo-title{
    margin-bottom: 20px;
}

.johndo-title h2{
    padding: 15px 0;
}

/* Suggested row */

.suggested{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* Popular artists row */

.popular-artists{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}

.popular-artists-title{
    margin-bottom: 20px;

}

.popular-artists-title h2{
    padding: 15px 0;
}

.round-img img{
    border-radius: 50%;
}


                            /* End main contents */


                            /* nav bar  section*/


.logo{
    width: 150px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.displayed-logo{
    width: 100%;
}

.hidden-logo{
    width: 100%;
    display: none;
}
        



/* home-search-library-section */





.actions{
    margin-bottom: 20px;
    background-color: black;
   
}

.home-icon{
    border-left: 2px solid limegreen;
    padding-left: 18px;
    width: 22%;
    height: auto;
    min-width: 20px;
    padding-right: 5px;
    
}

.nav-icons{
    width: 22%;
    height: auto;
    min-width: 20px;
    padding-right: 5px;
    padding-left: 20px;
   
}

.action-list li{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    
}
/*  END home-search-library-section */

/* Playlist section */

.playlist{
    flex-grow: 1;
    overflow: hidden;
    padding: 20px;
    
}



.playlist ul{
    overflow-y: auto;
    height: 80%;
}

.playlist ul li{
    padding-bottom: 15px;
}

.add-icon{
    display: flex;
    align-items: center;
    margin: 10px 0;
    
}
.plus-icon{
    width: 40px;
    height:40px;
    background-color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
}

/* end playlist section */

/* bottom Nav section */

.wrap{
    display: flex;
    align-items: center;
   
}

.wrap.download-wrap{
    border-bottom: 1px solid lightgray;
    padding-bottom: 8px;
}

.wrap.nav-icons-wrap{
    padding: 10px 0;
}

.bottom-contents{
    padding:0 20px;
   
}

.download{
    width: 20px;
    height: auto;
    padding-right: 5px;
}


.user-icons{
    display: flex;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: grey;
    padding: 3px;
    margin-right: 7px;
    
}


/* end bottom nav section */


                                /* end nav bar */


                                /* MAIN CONTENTS */
.choise-menu{
    width: 40%;
    margin: auto;
    padding-top: 15px;
    
}

.selections{
    list-style-type:none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.selections li{
    display: inline-block;
}

.underlined{
    margin-bottom: 10px;
    
}


.underlined::after{
    display: block;
    content: "";
    height: 2px;
    background-color: limegreen;
    width: 50%;
    margin:auto;
    
}






                                /* END MAIN CONTENTS */

/* END MAIN */

/* FOOTER */

.play-bar{
    width: 100%;
    height: 90px;
    /* test */
    background-color: bisque;
}
/* END FOOTER */

/* FIXED BAR */

.fixed-bar{
    height: 90px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: right;
    line-height: 90px;
}

.fixed-button{
    display: inline-block;
    line-height: normal;
    background-color: black;
    border: 1px solid white;
    border-radius: 25px;
    padding: 11px 28px;
}

.fixed-button a{

    text-decoration: none;
    color: white;

}


/* END FIXED BAR */


        /* MEDIA SCREEN XS */
@media screen and (max-width:599px){

.nav-menu{
    width: 50px;
}

.logo{
    width: 35px;
}
                
                
.hidden-logo{
       display:block;
       padding-right:4px;
       margin-top: 3px;
}
                
.displayed-logo{
    display: none;
}
                
                
                
.icon-text{
    display: none;
}
                
.playlist{
    visibility: hidden;
}
.home-icon{
    padding-left:13px;

}

.home-icon img{
    width: 20px;
}
.nav-icons{
    padding-left: 16px;
}

.nav-icons img{
    width: 20px;
}

.download img{
    width: 20px;
}

.wrap.download-wrap{
    border-bottom: hidden;
}

.bottom-contents{
    padding: 14px;
}

                
}
                /* MEDIA SCREEN XS end */
